ul{
	position:fixed;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#333;
	width:100%;
}
.bar li{
	display:inline-block;

}
li a{
		padding:14px 16px;
	color:white;
	text-decoration:none;
	text-align:center;
}
li a:hover{
	background-color:#111;
}